.col-xs-10.col-md-10.col-md-offset-1
  %h2{:align => "center"} DevSecOps simplified
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "210", :src => "https://www.youtube.com/embed/XnYstHObqlA", :width => "370"}

<br>
<br>
%hr.divider
